*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --clr-cyan: hsl(171, 66%, 44%);
  --clr-blue: hsl(233, 100%, 69%);
  --clr-dark-grey: hsl(210, 10%, 33%);
  --clr-grey: hsl(201, 11%, 66%);
  --fw-reg: 400;
  --fw-bold: 600;
  --fs-body: 1.125rem;
  --fs-h1: 2rem;
  --fs-h2: 1.675rem;
  --fs-h3: 1.375rem;
}

body {
  margin: 0;
  font-size: var(--fs-body);
  font-family: 'Bai Jamjuree', sans-serif;
  color: var(--clr-grey);
  font-weight: var(--fw-reg);
  line-height: 1.5;
  text-align: center;
}

h1,
h2,
h3 {
  font-weight: var(--fw-bold);
  color: var(--clr-dark-grey);
  line-height: 1.3;
  margin-bottom: 0.5em;
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

img {
  max-width: 95%;
}

p {
  max-width: 650px;
  margin: 0 auto;
}

.btn {
  display: block;
  text-decoration: none;
  color: #fff;
  border-radius: 100px;
  padding: 0.7em 2.5em;
  max-width: 500px;
  margin: 0 auto 1.5em;
}

.btn--cyan {
  background-color: var(--clr-cyan);
  box-shadow: 5px 10px 20px -15px var(--clr-cyan);
  border-bottom: 3px solid #21a18e;
}

.btn--blue {
  background-color: var(--clr-blue);
  box-shadow: 5px 10px 20px -15px var(--clr-blue);
  border-bottom: 3px solid #334bff;
}

.btn:hover, .btn:focus {
  opacity: 0.8;
}

.hero {
  background: url("../images/bg-header-mobile.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 7em 0;
}

.hero__logo {
  margin-bottom: 1.5em;
}

.hero__text {
  margin-bottom: 3em;
}

.info {
  padding-bottom: 7em;
}

.info__text {
  margin-bottom: 4em;
}

.info__img {
  margin-bottom: 2em;
}

.info > .row {
  margin-bottom: 3em;
}

.info__subtext {
  max-width: 500px;
}

.devices {
  padding-bottom: 4em;
}

.devices__text {
  margin-bottom: 3em;
}

.workflow {
  padding-bottom: 4em;
}

.workflow__text {
  margin-bottom: 4em;
}

.workflow > .col {
  margin-bottom: 3em;
}

.workflow__subtext {
  max-width: 500px;
}

.companies {
  padding-bottom: 4em;
}

.companies > img {
  display: block;
  margin: 0 auto 4em;
}

.download {
  padding-bottom: 7em;
}

.download__text {
  margin-bottom: 3em;
}

.footer {
  background-color: #f9f9f9;
  padding: 3em 0 2em;
  color: var(--clr-dark-grey);
}

.footer__logo {
  width: 3em;
  margin-bottom: 1em;
}

.footer-list {
  list-style: none;
  padding: 0;
}

.footer-list__item {
  margin-bottom: 1em;
}

.footer-link {
  text-decoration: none;
  color: #8e9ca4;
}

.footer-link:hover, .footer-link:focus {
  color: var(--clr-cyan);
}

.social-list {
  list-style: none;
  margin: 2.5em 0 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.social-list__item {
  margin: 0 1em;
  cursor: pointer;
}

.social-list__item i {
  font-size: var(--fs-h2);
}

.social-list__item:hover, .social-list__item:focus {
  color: var(--clr-cyan);
}
